### Test yfinance avec l'action Nvidia avec son prix de clôture ajusté

In [55]:
import yfinance as yf
import pandas as pd
data = yf.download("NVDA", start="2022-01-01", end="2022-04-01", auto_adjust=False)["Adj Close"]
data

[*********************100%***********************]  1 of 1 completed

Ticker           NVDA
Date
2022-01-03  30.066135
2022-01-04  29.236647
2022-01-05  27.553720
2022-01-06  28.126673
2022-01-07  27.197367
...               ...
2022-03-25  27.646267
2022-03-28  28.172398
2022-03-29  28.608677
2022-03-30  27.644272
2022-03-31  27.240942

[62 rows x 1 columns]

### Utilisation de la fonction "download_prices_adj_close" dans le src et test avec Apple, Nvidia et Microsoft

In [61]:
import sys
sys.path.append("..")  # pour que Python trouve le dossier src

from src.data_loader import download_prices_adj_close

tickers = ["AAPL", "MSFT", "GOOGL"]
prices = download_prices_adj_close(tickers, "2020-01-01", "2024-12-31")
prices

[*********************100%***********************]  3 of 3 completed

Ticker            AAPL       GOOGL        MSFT
Date
2020-01-02   72.620857   68.026031  153.042297
2020-01-03   71.914810   67.670151  151.136642
2020-01-06   72.487846   69.473846  151.527344
2020-01-07   72.146935   69.339645  150.145721
2020-01-08   73.307510   69.833176  152.537292
...                ...         ...         ...
2024-12-23  254.655716  194.171051  433.583038
2024-12-24  257.578674  195.647552  437.647400
2024-12-26  258.396667  195.138763  436.432068
2024-12-27  254.974930  192.305450  428.881104
2024-12-30  251.593079  190.789032  423.202911

[1257 rows x 3 columns]